<div class="container" id="survey">
  <div class="header">
    <h1><%=@survey.title%></h1>
  </div>
  <form class="answer_form" action="/surveys/<%=@survey.id%>/answers" method="post">
    <%@survey.questions.each do |question|%>
      <h4 id=<%=question.id%>><%=question.text%></h4>
      <%question.choices.each do |choice|%>
        <%=choice.choice_text%><input type="radio" name="choices[]" value="<%=choice.id%>">
        <%end%>
    <%end%>
    <input type="submit" value="Submit">
  </form>
</div>

