<div class="container" id="survey">
  <div class="show_header">
    <h1><%=@survey.title%></h1>
  </div>
  <form class="answer_form" action="/surveys/<%=@survey.id%>/answers" method="post">
    <%@survey.questions.each do |question|%>
      <h3 id=<%=question.id%>><%=question.text%> :</h3>
      <ul>
      <%question.choices.each do |choice|%>
        <li><%=choice.choice_text%><input type="radio" name="choices[]" value="<%=choice.id%>"></li>
        <%end%>
      </ul>
    <%end%>
    <br><br>
    <input type="submit" value="Submit">
  <br><br><br><br>
  </form>
</div>

