<h1><%= @form.title %></h1>

<form id="submit-answers" action='/entries'  method='post'>
<% @questions.each.with_index do |question, qindex| %>
  <h3><%= question.question %></h3>
  <% question.options.each do |option| %>
  <input type="radio" value="<%= option.id %>" name="option<%= qindex %>"><%= option.answer %></input>
  <input type="hidden" name="form_id" value="<%= @form.id %>"/>
  <% end %>
<% end %>
<br>
  <input type="submit" value="Submit"/>
</form>